<div id="<%= dom_id beer %>">
  <p>
    <strong>Brand:</strong>
    <%= beer.brand %>
  </p>

  <p>
    <strong>Tagline:</strong>
    <%= beer.tagline %>
  </p>

  <p>
    <strong>First brewed:</strong>
    <%= beer.first_brewed %>
  </p>

  <p>
    <strong>Abv:</strong>
    <%= beer.abv %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= beer.description %>
  </p>

  <p>
    <strong>Yeast:</strong>
    <%= beer.yeast %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= beer.image_url %>
  </p>

</div>
